<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94340732843-0pmskomj3sevqfiq9lbthfijirl75qiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94340732843-0pmskomj3sevqfiq9lbthfijirl75qiq</string>
	<key>API_KEY</key>
	<string>AIzaSyBgrMkHeTcARXLaSyWwZCvTnKIHDMI5L9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>94340732843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chesnikov.TaskManagmentCoreData</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-d9e76</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-d9e76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94340732843:ios:ab8546d6ce9425773824ee</string>
</dict>
</plist>